/* -------------------------------------------------------------------------- */
/* Global                                                                     */
/* -------------------------------------------------------------------------- */
#combat li.combatant.combat-tracker__combatant {
    border-top: none;
    border-bottom: none;
}

#combat li.combatant.combat-tracker__combatant--friendly {
    border-left: 3px solid #1c883c;
}

#combat li.combatant.combat-tracker__combatant--neutral {
    border-left: 3px solid #e0de4d;
}

#combat li.combatant.combat-tracker__combatant--hostile {
    border-left: 3px solid #b31414;
}

#combat li.combatant.combat-tracker__combatant--greyed-out {
    opacity: 0.5;
}

#combat.directory .directory-list .directory-item.active {
    border-top: none;
    border-bottom: none;
    border-right: none;
}

#combat li.combatant.active {
    background: none;
}

#combat li.combatant.hover, #combat li.combatant:hover {
    background: rgba(255, 255, 255, 0.08);
}

.dice-total--success {
    color: #1c883c;
}

.dice-total--failure {
    color: #b31414;
}

/* -------------------------------------------------------------------------- */
/* System-specific                                                            */
/* -------------------------------------------------------------------------- */

.warlock {
    --font-accent: "Modesto Condensed", "Palatino Linotype", serif;
    --font-size-36: 2.25rem;
    --color-background: rgba(0, 0, 0, 0.05);
    --color-shadow: rgba(0, 0, 0, 0.1);
}

.warlock h1 {
    border-bottom: none;

    font-family: var(--font-accent);
    font-size: var(--font-size-20);

    margin: 0px;

    text-align: center;
}

.warlock select.field {
    text-align: center;
    text-align-last: center;
}

.warlock .document {
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------------------------------- */
/* Sheets                                                                     */
/* -------------------------------------------------------------------------- */
.warlock.character
{
    min-width: 660px;
    min-height: 180px;
}

/* -------------------------------------------------------------------------- */
/* Fields                                                                     */
/* -------------------------------------------------------------------------- */

.warlock .field {
    background: var(--color-background);

    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 0px;

    box-shadow: inset 0 0 10px var(--color-shadow);

    flex: 1;
    height: 26px;
    width: 100%;
    min-width: 0;
}

.warlock .field:hover,
.warlock .field:focus {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));

    box-shadow: none;
}

.warlock .field--bold {
    font-weight: bold;
}

.warlock .field--left
{
    text-align: left;
}

.warlock .field--right
{
    text-align: right;
}

.warlock .field--center {
    text-align: center;
}

.warlock .field--no-decoration {
    background: none;
    border: none;
    box-shadow: none;
}

.warlock .field:disabled:hover {
    background: none;
}

.warlock .field--wide {
    flex-grow: 2;
}

/* -------------------------------------------------------------------------- */
/* Resources                                                                  */
/* -------------------------------------------------------------------------- */

.warlock .resource {
    display: flex;
    flex-direction: column;

    flex: 0 0 100px;

    min-width: 0;

    padding: 0px 6px;

    position: relative;

    white-space: nowrap;
}

.warlock .resource:not(:last-child) {
    border-right: 2px groove var(--color-text-light-1);
}

.warlock .resource__name {
    border-bottom: 1px solid var(--color-text-light-4);

    color: var(--color-text-dark-header);

    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-size: var(--font-size-16);

    position: relative;

    text-align: center;
}

.warlock .resource__name--active {
    color: black;

    text-shadow: 0 0 5px red;
}

.warlock .resource__body {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    font-family: var(--font-accent);
    font-size: var(--font-size-20);
}

/* -------------------------------------------------------------------------- */
/* Tables                                                                     */
/* -------------------------------------------------------------------------- */

.warlock .table:not(:last-child) {
    margin-bottom: 10px;
}

.warlock .table__header,
.warlock .table__entry {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.warlock .table__header {
    background-color: var(--color-background);

    border: 2px groove var(--color-border-light-1);

    color: var(--color-text-dark-6);

    font-weight: bold;

    padding-bottom: 3px;
    padding-left: 2px;
    padding-top: 3px;
}

.warlock .table__header-field:first-child {
    font-family: var(--font-accent);
    font-size: var(--font-size-18);
    font-weight: bold;
}

.warlock .table__entry {
    border: 2px solid transparent;

    height: 26px;

    padding-left: 2px;
}

.warlock .table__entry--tall {
    height: 30px;
}

.warlock .table__entry:not(:first-child) {
    border-top: 2px groove var(--color-border-light-1);
}

.warlock .table__entry-image {
    border: none;

    height: 28px;

    padding-bottom: 2px;

    vertical-align: middle;
}

.warlock .table__entry-field {
    line-height: 26px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.warlock .table__header-field:not(:first-child),
.warlock .table__entry-field:not(:first-child) {
    border-left: 1px solid var(--color-border-light-secondary);

    text-align: center;
}

.warlock .table__entry-field:last-child {
    color: var(--color-text-dark-6);

    font-size: var(--font-size-12);
}

.warlock .table__entry:hover .table__entry-field:last-child {
    visibility: visible;
}

.warlock .table__entry-field--collapsible {
    display: none;

    padding-left: 2px;
}

/* -------------------------------------------------------------------------- */
/* Grid                                                                       */
/* -------------------------------------------------------------------------- */

.warlock .grid {
    display: grid;
    gap: 10px;

    height: 100%;
}

.warlock .grid--flow-row {
    grid-auto-flow: row;
}

.warlock .grid--flow-column {
    grid-auto-flow: column;
}

.warlock .grid--two-columns {
    grid-template-columns: repeat(2, 1fr);
}

/* -------------------------------------------------------------------------- */
/* Flex                                                                       */
/* -------------------------------------------------------------------------- */

.warlock .flex {
    display: flex;
    gap: 10px;

    flex: 1;

    height: 100%;
}

.warlock .flex--row {
    flex-direction: row;
}

.warlock .flex--column {
    flex-direction: column;
}

.warlock .flex--no-gap {
    gap: 0;
}

/* -------------------------------------------------------------------------- */
/* Headers                                                                    */
/* -------------------------------------------------------------------------- */

.warlock .header {
    border-bottom: 2px groove var(--color-border-light-1);

    display: flex;
    flex-direction: row;
    column-gap: 2px;

    flex: 0;
}

.warlock .header__image {
    height: 135px;

    border: none;
    border-right: 2px groove var(--color-border-light-1);
    border-radius: 0px;

    padding-right: 2px;
}

.warlock .header__image--large {
    height: 154px;
}

.warlock .header__image--small {
    height: 78px;
}

.warlock .header__body {
    display: flex;
    flex-direction: column;

    min-width: 0;
    width: 100%;
}

.warlock .header__row {
    display: flex;
    flex-direction: row;

    padding-top: 2px;
    padding-bottom: 2px;
}

.warlock .header__row:not(:last-child) {
    border-bottom: 2px groove var(--color-border-light-1);
}

.warlock .header__row--align-end {
    align-items: flex-end;
}

.warlock .header__name {
    height: 50px;
    line-height: 50px;

    font-family: var(--font-accent);
    font-size: var(--font-size-36);
}

.warlock .header__advances
{
    border-left: 2px groove var(--color-border-light-1);

    flex: 0 0 100px;
}

.warlock .header__name--small {
    height: 25px;
    line-height: 25px;
    font-size: var(--font-size-20);
}

.warlock .header__community,
.warlock .header__traits,
.warlock .header__type,
.warlock .header__notes {
    font-family: var(--font-accent);
    font-size: var(--font-size-18);
}

.warlock .header__community {
    border-right: 2px groove var(--color-border-light-1);
}

.warlock .header__reputation-configuration {
    position: absolute;
    left: calc(100% - 15px);

    visibility: hidden;
}

.warlock .resource:hover .header__reputation-configuration {
    visibility: visible;
}

/* -------------------------------------------------------------------------- */
/* Tabs                                                                       */
/* -------------------------------------------------------------------------- */

.warlock .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-top: 5px;
    padding-bottom: 5px;

    font-family: var(--font-accent);
    font-size: var(--font-size-24);
    font-weight: bold;
}

.warlock .tabs__item {
    border-bottom: 3px solid var(--color-border-light-2);

    margin-left: 15px;
    margin-right: 15px;

    padding-left: 15px;
    padding-right: 15px;

    text-align: center;
}

.warlock .tabs__item.active {
    border-bottom: 3px solid var(--color-underline-active);
    font-weight: bold;

    text-shadow: 0 0 10px red;
}

/* -------------------------------------------------------------------------- */
/* Sections                                                                   */
/* -------------------------------------------------------------------------- */

.warlock .body,
.warlock .tab {
    height: 100%;
}

.warlock .careers__header,
.warlock .careers__entry {
    grid-template-columns: 3fr repeat(3, 100px);
}

.warlock .careers__entry-field:nth-child(3),
.warlock .career-skills__entry-field:nth-child(2)
{
    color: var(--color-text-dark-6);
}

.warlock .skills__header,
.warlock .career-skills__header {
    grid-template-columns: 3fr repeat(2, 50px) 3fr repeat(2, 50px);
}

.warlock .skills__header-field:nth-child(4),
.warlock .career-skills__header-field:nth-child(4) {
    font-family: var(--font-accent);
    font-size: var(--font-size-18);
    font-weight: 700;

    text-align: left;
}

.warlock .skills__body,
.warlock .career-skills__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-auto-flow: column;
}

.warlock .skills__entry,
.warlock .career-skills__entry {
    grid-template-columns: 3fr repeat(2, 50px);
}

.warlock .skills__entry:nth-child(17),
.warlock .career-skills__entry:nth-child(17) {
    border-top: none;
}

.warlock .career-skills__entry-field:last-child {
    color: black;
}

.warlock .skills__entry-field:last-child,
.warlock .career-skills__entry-field:last-child {
    font-size: var(--font-size-14);

    visibility: visible;
}

.warlock .skills__increment-button {
    font-size: var(--font-size-20);
}

.warlock .money__header,
.warlock .money__entry {
    grid-template-columns: 5fr repeat(4, 100px);
}

.warlock .weapons__header,
.warlock .weapons__entry {
    grid-template-columns: 5fr repeat(4, 100px);
}

.warlock .armour__header,
.warlock .armour__entry {
    grid-template-columns: 5fr repeat(3, 100px);
}

.warlock .equip-item__not-equipped {
    color: var(--color-text-light-4);
}

.warlock .equipment__header,
.warlock .equipment__entry {
    grid-template-columns: 5fr repeat(2, 100px);
}

.warlock .spells__header,
.warlock .spells__entry {
    grid-template-columns: 5fr repeat(3, 100px);
}

.warlock .glyphs__header,
.warlock .glyphs__entry {
    grid-template-columns: 5fr repeat(3, 100px);
}

.warlock .critical-effects__header,
.warlock .critical-effects__entry {
    grid-template-columns: 5fr 100px;
}

.warlock .biography {
    flex: 2;
}

.warlock .talent__name {
    font-family: var(--font-accent);
    font-size: var(--font-size-14);
}

.warlock .passions {
    flex: 0;
}

.warlock .abilities__header,
.warlock .abilities__entry {
    grid-template-columns: 5fr 100px;
}

/* -------------------------------------------------------------------------- */
/* Editor                                                                     */
/* -------------------------------------------------------------------------- */

.warlock .editor {
    background: var(--color-background);

    border: 2px groove var(--color-border-light-1);

    box-shadow: inset 0 0 10px var(--color-shadow);

    height: 100%;

    word-break: break-word;
}

.warlock .editor-content {
    padding-left: 3px;
    padding-right: 3px;
}

.warlock .tox.tox-tinymce {
    height: 100% !important;
}

/* -------------------------------------------------------------------------- */
/* Chat Cards                                                                 */
/* -------------------------------------------------------------------------- */

.warlock .chat-card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warlock .chat-card__image {
    border: none;

    height: 40px;
}

.warlock .chat-card__name {
    font-size: var(--font-size-16);
}

.warlock .chat-card__details-field {
    font-size: var(--font-size-12);

    padding-left: 4px;
    padding-right: 4px;
}

.warlock .chat-card__details-field:not(:first-child) {
    border-left: 2px groove var(--color-border-light-1);
}
