<form
    class="{{cssClass}} document"
    autocomplete="off">
    <header class="header">
        <img
            class="header__image"
            src="{{actor.img}}"
            data-edit="img">

        <div class="header__body">
            <div class="header__row">
                <input
                    class="header__name field field--no-decoration field--bold field--center"
                    type="text"
                    name="name"
                    value="{{actor.name}}"
                    data-dtype="String">

                <div class="header__advances resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Resources.Advances"}}
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="system.resources.advances"
                            value="{{data.system.resources.advances}}"
                            data-dtype="Number">
                    </div>
                </div>
            </div>

            <div class="header__row">
                <input
                    class="header__community field field--no-decoration field--center"
                    type="text"
                    name="system.biography.community"
                    value="{{data.system.biography.community}}"
                    placeholder="{{localize "WARLOCK.Details.Community"}}"
                    data-dtype="String">

                <input
                    class="header__traits field field--no-decoration field--center field--wide"
                    type="text"
                    name="system.biography.traits"
                    value="{{data.system.biography.traits}}"
                    placeholder="{{localize "WARLOCK.Details.Traits"}}"
                    data-dtype="String">
            </div>

            <div class="header__row header__row--align-end">
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Resources.Stamina"}}
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--right field--no-decoration"
                            type="number"
                            name="system.resources.stamina.value"
                            value="{{data.system.resources.stamina.value}}"
                            title="{{localize "WARLOCK.Resources.CurrentStamina"}}"
                            data-dtype="Number">

                        <span class="resource__separator">
                            /
                        </span>

                        <input
                            class="resource__value field field--left field--no-decoration"
                            type="number"
                            name="system.resources.stamina.max"
                            value="{{data.system.resources.stamina.max}}"
                            title="{{localize "WARLOCK.Resources.MaximumStamina"}}"
                            data-dtype="Number">
                    </div>
                </div>

                <div class="resource">
                    <a class="resource__name test-luck">
                        {{localize "WARLOCK.Resources.Luck"}}
                    </a>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--right field--no-decoration"
                            type="number"
                            name="system.resources.luck.value"
                            value="{{data.system.resources.luck.value}}"
                            title="{{localize "WARLOCK.Resources.CurrentLuck"}}"
                            data-dtype="Number">

                        <span class="resource__separator">
                            /
                        </span>

                        <input
                            class="resource__value field field--left field--no-decoration"
                            type="number"
                            name="system.resources.luck.max"
                            value="{{data.system.resources.luck.max}}"
                            title="{{localize "WARLOCK.Resources.MaximumLuck"}}"
                            data-dtype="Number">
                    </div>
                </div>

                {{#if data.system.resources.pluck.enabled}}
                <div class="resource">
                    <a
                        class="resource__name test-pluck"
                        title="{{localize "WARLOCK.Resources.PluckTooltip"}}">
                        {{localize "WARLOCK.Resources.Pluck"}}
                    </a>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="system.resources.pluck.value"
                            value="{{data.system.resources.pluck.value}}"
                            data-dtype="Number">
                    </div>
                </div>
                {{/if}}

                {{#if data.system.resources.reputation.enabled}}
                <div class="resource">
                    <a class="resource__name test-reputation">
                        {{localize "WARLOCK.Resources.Reputation"}}
                    </a>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--center field--no-decoration"
                            type="number"
                            name="system.resources.reputation.value"
                            value="{{data.system.resources.reputation.value}}"
                            title="{{localize "WARLOCK.Resources.Reputation"}}"
                            data-dtype="Number">
                    </div>

                    <a class="open-reputation-dialog header__reputation-configuration">
                        <i class="fas fa-cog"></i>
                    </a>
                </div>
                {{/if}}

                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Resources.ActionsPerRound"}}
                    </label>

                    <div class="resource__body">
                        <input
                            class="resource__value field field--right field--no-decoration"
                            type="number"
                            name="system.resources.actionsPerRound.value"
                            value="{{data.system.resources.actionsPerRound.value}}"
                            title="{{localize "WARLOCK.Resources.CurrentActionsPerRound"}}"
                            data-dtype="Number">

                        <span class="resource__separator">
                            /
                        </span>

                        <input
                            class="resource__value field field--left field--no-decoration"
                            type="number"
                            name="system.resources.actionsPerRound.max"
                            value="{{data.system.resources.actionsPerRound.max}}"
                            title="{{localize "WARLOCK.Resources.MaximumActionsPerRound"}}"
                            data-dtype="Number">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav
        class="tabs"
        data-group="primary">
        <a
            class="tabs__item"
            data-tab="skills">
            {{localize "WARLOCK.Tabs.Skills"}}
        </a>

        <a
            class="tabs__item"
            data-tab="combat">
            {{localize "WARLOCK.Tabs.Combat"}}
        </a>

        <a
            class="tabs__item"
            data-tab="gear">
            {{localize "WARLOCK.Tabs.Gear"}}
        </a>

        <a
            class="tabs__item"
            data-tab="spells">
            {{#if (eq data.system.activeSystem "warlock")}}
            {{localize "WARLOCK.Tabs.Spells"}}
            {{else}}
            {{localize "WARLOCK.Tabs.Glyphs"}}
            {{/if}}
        </a>

        <a
            class="tabs__item"
            data-tab="notes">
            {{localize "WARLOCK.Tabs.Notes"}}
        </a>
    </nav>

    <section class="body">
        <div
            class="tab skills-tab"
            data-group="primary"
            data-tab="skills">
            <div class="careers table">
                <div class="careers__header table__header">
                    <span class="careers__header-field table__header-field">
                        {{localize "WARLOCK.Items.Career.Name"}}
                    </span>

                    <span class="careers__header-field table__header-field">
                        {{localize "WARLOCK.Tables.Level"}}
                    </span>

                    <span class="careers__header-field table__header-field">
                        {{localize "WARLOCK.Tables.Current"}}
                    </span>

                    <span class="careers__header-field table__header-field">
                        <a
                            class="create-item"
                            data-item-type="Career">
                            <i class="fas fa-plus"></i> {{localize "WARLOCK.Items.AddItem"}}
                        </a>
                    </span>
                </div>

                <div class="careers__body table__body">
                    {{#each data.system.careers}}
                    <div
                        class="careers__entry table__entry"
                        data-item-id="{{id}}">
                        <span class="careers__entry-field table__entry-field">
                            <a
                                class="test-career"
                                title="{{localize "WARLOCK.Tests.TestCareer"}}">
                                {{name}}
                            </a>
                        </span>

                        <span class="careers__entry-field table__entry-field">
                            {{system.currentLevel}}
                        </span>

                        <span class="careers__entry-field table__entry-field">
                            {{#if system.isActive}}
                            <i class="fas fa-check-circle"></i>
                            {{else}}
                            <a class="activate-career">
                                <i class="far fa-circle"></i>
                            </a>
                            {{/if}}
                        </span>

                        <span
                            class="careers__entry-field table__entry-field">
                            <a
                                class="chat-item"
                                title="{{localize "WARLOCK.Items.ChatItem"}}">
                                <i class="fas fa-comment"></i>
                            </a>

                            <a
                                class="edit-item"
                                title="{{localize "WARLOCK.Items.EditItem"}}">
                                <i class="fas fa-edit"></i>
                            </a>

                            <a
                                class="delete-item"
                                title="{{localize "WARLOCK.Items.DeleteItem"}}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </span>
                    </div>
                    {{/each}}
                </div>
            </div>

            <div class="skills table">
                <div class="skills__header table__header">
                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Tables.Skill"}}
                    </span>

                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Tables.Level"}}
                    </span>

                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Tables.Max"}}
                    </span>

                    <!-- The header entries are duplicated since the body is a two-column grid. -->
                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Tables.Skill"}}
                    </span>

                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Tables.Level"}}
                    </span>

                    <span class="skills__header-field table__header-field">
                        {{localize "WARLOCK.Tables.Max"}}
                    </span>
                </div>

                <div class="skills__body table__body">
                    {{#each data.system.adventuringSkills}}
                    <div
                        class="skills__entry table__entry"
                        data-skill="{{@key}}">
                        <span class="skills__entry-field table__entry-field">
                            <a
                                class="test-skill"
                                title="{{localize "WARLOCK.Tests.TestSkill"}}">
                                {{localizeSkill @key}}
                            </a>

                            {{#if (gt ../data.system.resources.advances 0)}}
                            <a class="increment-skill-level skills__increment-button">
                                +
                            </a>
                            {{/if}}
                        </span>

                        <input
                            class="edit-skill-level skills__entry-field table__entry-field field field--no-decoration"
                            type="number"
                            value="{{this}}"
                            data-dtype="Number"
                            data-skill="{{@key}}">

                        {{#with (getSkill ../data.system.careers @key)}}
                        {{#if isCareerSkill}}
                        <span class="skills__entry-field table__entry-field">
                            {{maximumLevel}}
                        </span>
                        {{else}}
                        <span class="skills__entry-field table__entry-field">
                            —
                        </span>
                        {{/if}}
                        {{/with}}
                        </span>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div
            class="tab combat-tab"
            data-group="primary"
            data-tab="combat">
            {{> "systems/warlock/templates/actors/partials/combat-tab.hbs"}}
        </div>

        <div
            class="tab gear-tab"
            data-group="primary"
            data-tab="gear">
            <div class="money table">
                <div class="money__header table__header">
                    <span class="money__header-field table__header-field">
                        {{localize "WARLOCK.Items.Money.Name"}}
                    </span>

                    <span class="money__header-field table__header-field">
                        {{#if (eq data.system.activeSystem "warlock")}}
                        {{localize "WARLOCK.Items.Money.Types.Gold"}}
                        {{else}}
                        {{localize "WARLOCK.Items.Money.Types.Jades"}}
                        {{/if}}
                    </span>

                    <span class="money__header-field table__header-field">
                        {{#if (eq data.system.activeSystem "warlock")}}
                        {{localize "WARLOCK.Items.Money.Types.Silver"}}
                        {{else}}
                        {{localize "WARLOCK.Items.Money.Types.Shards"}}
                        {{/if}}
                    </span>

                    <span class="money__header-field table__header-field">
                        {{#if (eq data.system.activeSystem "warlock")}}
                        {{localize "WARLOCK.Items.Money.Types.Pennies"}}
                        {{else}}
                        {{localize "WARLOCK.Items.Money.Types.Frags"}}
                        {{/if}}
                    </span>

                    <span class="money__header-field table__header-field">
                        <a
                            class="consolidate-money"
                            title="{{localize "WARLOCK.Items.Money.ConsolidateMoneyHint"}}">
                            <i class="fas fa-coins"></i>
                        </a>
                    </span>
                </div>

                <div class="money__body table__body">
                    <div class="money__entry table__entry">
                        <span class="money__entry-field table__entry-field">
                            <!-- Empty to occupy space. -->
                        </span>

                        <input
                            class="money__entry-field table__entry-field field field--no-decoration"
                            type="number"
                            name="system.gear.money.gold"
                            value="{{data.system.gear.money.gold}}"
                            data-dtype="Number">

                        <input
                            class="money__entry-field table__entry-field field field--no-decoration"
                            type="number"
                            name="system.gear.money.silver"
                            value="{{data.system.gear.money.silver}}"
                            data-dtype="Number">

                        <input
                            class="money__entry-field table__entry-field field field--no-decoration"
                            type="number"
                            name="system.gear.money.pennies"
                            value="{{data.system.gear.money.pennies}}"
                            data-dtype="Number">

                        <span class="money__entry-field table__entry-field">
                            <!-- Empty to occupy space. -->
                        </span>
                    </div>
                </div>
            </div>

            {{> "systems/warlock/templates/actors/partials/weapons-table.hbs"}}

            {{> "systems/warlock/templates/actors/partials/armour-table.hbs"}}

            {{> "systems/warlock/templates/actors/partials/equipment-table.hbs"}}
        </div>

        <div
            class="tab spells-tab"
            data-group="primary"
            data-tab="spells">
            {{#if (eq data.system.activeSystem "warlock")}}
            {{> "systems/warlock/templates/actors/partials/spells-table.hbs"}}
            {{else}}
            {{> "systems/warlock/templates/actors/partials/glyphs-table.hbs"}}
            {{/if}}
        </div>

        <div
            class="tab notes-tab"
            data-group="primary"
            data-tab="notes">
            <div class="grid grid--flow-row grid--two-columns">
                <div class="flex flex--column">
                    <div class="biography flex flex--column flex--no-gap">
                        <h1>
                            {{localize "WARLOCK.Actors.Character.Biography"}}
                        </h1>

                        {{editor
                            data.system.biography.description
                            target="system.biography.description"
                            button=true
                            owner=owner
                            editable=editable}}
                    </div>

                    {{#if data.system.biography.talent.enabled}}
                    <div class="talent flex flex--column flex--no-gap">
                        <h1>
                            {{localize "WARLOCK.Actors.Character.Talent"}}
                        </h1>

                        <div class="flex flex--column">
                            <input
                                class="talent__name field field--center"
                                type="text"
                                name="system.biography.talent.name"
                                value="{{data.system.biography.talent.name}}"
                                placeholder="{{localize "WARLOCK.Actors.Character.Talent"}}"
                                data-dtype="String">

                            {{editor
                                data.system.biography.talent.description
                                target="system.biography.talent.description"
                                button=true
                                owner=owner
                                editable=editable}}
                        </div>
                    </div>
                    {{/if}}

                    {{#if data.system.biography.passions.enabled}}
                    <div class="passions flex flex--column flex--no-gap">
                        <h1>
                            {{localize "WARLOCK.Actors.Character.Passions"}}
                        </h1>
                        <input
                            class="passions__description field field--center"
                            type="text"
                            name="system.biography.passions.description"
                            value="{{data.system.biography.passions.description}}"
                            data-dtype="String">
                    </div>
                    {{/if}}
                </div>

                <div class="flex flex--column flex--no-gap">
                    <h1>
                        {{localize "WARLOCK.Actors.Character.Notes"}}
                    </h1>

                    {{editor
                        data.system.biography.notes
                        target="system.biography.notes"
                        button=true
                        owner=owner
                        editable=editable}}
                </div>
            </div>
        </div>
    </section>
</form>
