<div class="weapons table">
    <div class="weapons__header table__header">
        <span class="weapons__header-field table__header-field">
            {{localize "WARLOCK.Items.Weapon.Name"}}
        </span>

        <span class="weapons__header-field table__header-field">
            {{localize "WARLOCK.Tables.Skill"}}
        </span>

        <span class="weapons__header-field table__header-field">
            {{localize "WARLOCK.Tables.Type"}}
        </span>

        <span class="weapons__header-field table__header-field">
            {{localize "WARLOCK.Tables.Damage"}}
        </span>

        <span class="weapons__header-field table__header-field">
            <a
                class="create-item"
                data-item-type="Weapon">
                <i class="fas fa-plus"></i> {{localize "WARLOCK.Items.AddItem"}}
            </a>
        </span>
    </div>

    <div class="weapons__body table__body">
        {{#each data.system.gear.weapons}}
        <div
            class="weapons__entry table__entry table__entry--tall"
            data-skill="{{system.skill.value}}"
            data-item-id="{{id}}">
            <span class="weapons__entry-field table__entry-field">
                <img
                    class="table__entry-image"
                    src="{{img}}">

                <a class="toggle-description">
                    {{name}}
                </a>
            </span>

            <span class="weapons__entry-field table__entry-field">
                {{#if (eq system.skill.value "—")}}
                —
                {{else}}
                <a
                    class="test-skill"
                    title="{{localize "WARLOCK.Tests.TestSkill"}}">
                    {{lookup system.skill.choices system.skill.value}}
                </a>
                {{/if}}
            </span>

            <span class="weapons__entry-field table__entry-field">
                {{lookup system.type.choices system.type.value}}
            </span>

            <span class="weapons__entry-field table__entry-field">
                <a
                    class="roll-weapon"
                    title="{{localize "WARLOCK.Tables.RollWeaponDamageTooltip"}}">
                    {{system.damage.roll}} {{lookup system.damage.type.choices system.damage.type.value}}
                </a>
            </span>

            <span class="weapons__entry-field table__entry-field">
                <a
                    class="equip-item"
                    title="{{localize "WARLOCK.Items.EquipItem"}}">
                    {{#if system.isEquipped}}
                    <i class="fas fa-tshirt equip-item__equipped"></i>
                    {{else}}
                    <i class="fas fa-tshirt equip-item__not-equipped"></i>
                    {{/if}}
                </a>

                <a
                    class="chat-item"
                    title="{{localize "WARLOCK.Items.ChatItem"}}">
                    <i class="fas fa-comment"></i>
                </a>

                <a
                    class="edit-item"
                    title="{{localize "WARLOCK.Items.EditItem"}}">
                    <i class="fas fa-edit"></i>
                </a>

                <a
                    class="delete-item"
                    title="{{localize "WARLOCK.Items.DeleteItem"}}">
                    <i class="fas fa-trash"></i>
                </a>
            </span>
        </div>

        <div class="table__entry-field--collapsible">
            {{{system.description}}}
        </div>
        {{/each}}
    </div>
</div>
