<form
    class="{{cssClass}} document"
    autocomplete="off">
    <header class="header">
        <img
            class="header__image header__image--small"
            src="{{item.img}}"
            data-edit="img">

        <div class="header__body">
            <div class="header__row">
                <input
                    class="header__name header__name--small field field--no-decoration field--center"
                    type="text"
                    name="name"
                    value="{{item.name}}"
                    data-dtype="String">
            </div>

            <div class="header__row">
                <div class="resource">
                    <label class="resource__name">
                        {{localize "WARLOCK.Items.Spell.StaminaCost"}}
                    </label>

                    <div class="resource__body">
                        <input
                            class="field field--center field--no-decoration"
                            type="number"
                            name="system.staminaCost"
                            value="{{data.system.staminaCost}}"
                            data-dtype="Number">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="body">
        <div class="flex flex--column flex--no-gap">
            <h1>
                {{localize "WARLOCK.Tabs.Description"}}
            </h1>

            {{editor
                data.system.description
                target="system.description"
                button=true
                owner=owner
                editable=editable}}
        </div>
    </section>
</form>
